#root {
  width: 100vw;
  height: 100vh;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

nav,
main {
  padding: 20px 0px;
}

nav {
  border-bottom: 1px solid #efefef;
}

nav div {
  display: flex;
  gap: 20px;
}

.card {
  border: 1px solid #efefef;
  max-width: 400px;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 1px 1px 6px 1px #efefff;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card img {
  width: 200px;
  margin: 0 auto;
}

.card h2 {
  font-weight: bold;
  font-size: x-large;
}
